{% extends "layout.html" %}

{% block content %}
<form action="{{ url_for('main.gad_results') }}" method="POST" class="form mt-2">
    <h2 class="dxtr-txt">have you been feeling nervous, anxous or on the edge?</h2>
    <div class="inputGroup">
        <input id="radio1one" name="one" type="radio" value="0" required/>
        <label for="radio1one">Not at all</label>
    </div>
    <div class="inputGroup">
        <input id="radio2one" name="one" type="radio" value="1"/>
        <label for="radio2one">Yes, several days</label>
    </div>
    <div class="inputGroup">
        <input id="radio3one" name="one" type="radio" value="2"/>
        <label for="radio3one">More than half the days</label>
    </div>
    <div class="inputGroup">
        <input id="radio4one" name="one" type="radio" value="3"/>
        <label for="radio4one">Nearly every day</label>
    </div>
    <h2 class="dxtr-txt">have you not being able to stop or control worrying?</h2>
    <div class="inputGroup">
        <input id="radio1two" name="two" type="radio" value="0" required/>
        <label for="radio1two">Not at all</label>
    </div>
    <div class="inputGroup">
        <input id="radio2two" name="two" type="radio" value="1"/>
        <label for="radio2two">Yes, several days</label>
    </div>
    <div class="inputGroup">
        <input id="radio3two" name="two" type="radio" value="2"/>
        <label for="radio3two">More than half the days</label>
    </div>
    <div class="inputGroup">
        <input id="radio4two" name="two" type="radio" value="3"/>
        <label for="radio4two">Nearly every day</label>
    </div>
    <h2 class="dxtr-txt">have you been worrying too much about different things?</h2>
    <div class="inputGroup">
        <input id="radio1three" name="three" type="radio" value="0" required/>
        <label for="radio1three">Not at all</label>
    </div>
    <div class="inputGroup">
        <input id="radio2three" name="three" type="radio" value="1"/>
        <label for="radio2three">Yes, several days</label>
    </div>
    <div class="inputGroup">
        <input id="radio3three" name="three" type="radio" value="2"/>
        <label for="radio3three">More than half the days</label>
    </div>
    <div class="inputGroup">
        <input id="radio4three" name="three" type="radio" value="3"/>
        <label for="radio4three">Nearly every day</label>
    </div>
    <h2 class="dxtr-txt">have you been having trouble relaxing?</h2>
    <div class="inputGroup">
        <input id="radio1four" name="four" type="radio" value="0" required/>
        <label for="radio1four">Not at all</label>
    </div>
    <div class="inputGroup">
        <input id="radio2four" name="four" type="radio" value="1"/>
        <label for="radio2four">Yes, several days</label>
    </div>
    <div class="inputGroup">
        <input id="radio3four" name="four" type="radio" value="2"/>
        <label for="radio3four">More than half the days</label>
    </div>
    <div class="inputGroup">
        <input id="radio4four" name="four" type="radio" value="3"/>
        <label for="radio4four">Nearly every day</label>
    </div>
    <h2 class="dxtr-txt">have you been so restless that it is hard to sit still?</h2>
    <div class="inputGroup">
        <input id="radio1five" name="five" type="radio" value="0" required/>
        <label for="radio1five">Not at all</label>
    </div>
    <div class="inputGroup">
        <input id="radio2five" name="five" type="radio" value="1"/>
        <label for="radio2five">Yes, several days</label>
    </div>
    <div class="inputGroup">
        <input id="radio3five" name="five" type="radio" value="2"/>
        <label for="radio3five">More than half the days</label>
    </div>
    <div class="inputGroup">
        <input id="radio4five" name="five" type="radio" value="3"/>
        <label for="radio4five">Nearly every day</label>
    </div>
    <h2 class="dxtr-txt">have you been becoming easily annoyed or irritable?</h2>
    <div class="inputGroup">
        <input id="radio1six" name="six" type="radio" value="0" required/>
        <label for="radio1six">Not at all</label>
    </div>
    <div class="inputGroup">
        <input id="radio2six" name="six" type="radio" value="1"/>
        <label for="radio2six">Yes, several days</label>
    </div>
    <div class="inputGroup">
        <input id="radio3six" name="six" type="radio" value="2"/>
        <label for="radio3six">More than half the days</label>
    </div>
    <div class="inputGroup">
        <input id="radio4six" name="six" type="radio" value="3"/>
        <label for="radio4six">Nearly every day</label>
    </div>
    <h2 class="dxtr-txt">have you been feeling afraid as if something awful might happen?</h2>
    <div class="inputGroup">
        <input id="radio1seven" name="seven" type="radio" value="0" required/>
        <label for="radio1seven">Not at all</label>
    </div>
    <div class="inputGroup">
        <input id="radio2seven" name="seven" type="radio" value="1"/>
        <label for="radio2seven">Yes, several days</label>
    </div>
    <div class="inputGroup">
        <input id="radio3seven" name="seven" type="radio" value="2"/>
        <label for="radio3seven">More than half the days</label>
    </div>
    <div class="inputGroup">
        <input id="radio4seven" name="seven" type="radio" value="3"/>
        <label for="radio4seven">Nearly every day</label>
    </div>
    <div class="my-5 text-center"><button type="submit" class="btn btn-primary">Get Results</button></div>
    
</form>

{% endblock %}